name: Test coverage on PRs

on:
  pull_request:
    branches: [ master, develop ]

permissions:
  contents: read
  pull-requests: write

jobs:
  pr-test-coverage:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'
        cache: 'npm'
        
    - name: Install dependencies
      run: npm i
      
    - name: Run tests with coverage
      run: npm run test:coverage
      
    - name: Jest Coverage Comment
      uses: MishaKav/jest-coverage-comment@main
      with:
        coverage-summary-path: ./coverage/coverage-summary.json