name: Tests and Coverage

on:
  push:

jobs:
  lint-code:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'
        cache: 'npm'
        
    - name: Install dependencies
      run: npm i --legacy-peer-deps
      
    - name: Run ESLint
      run: npm run lint

  test:
    runs-on: ubuntu-latest
    needs: lint-code
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'
        cache: 'npm'
        
    - name: Install dependencies
      run: npm i
      
    - name: Run tests
      run: npm test